.list-group-container {
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    .list-group-container {
        max-height: 40vh;
    }
}